.git
.gitignore
.github
.idea
.venv
.DS_Store
__pycache__/
*.py[codz]
*.log

# local data / artifacts
media/
static/
staticfiles/
logs/
postgres_data/
db.sqlite3
db.sqlite3-journal

# virtualenvs / builds
env/
venv/
ENV/
build/
dist/
*.egg-info/
