services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    container_name: qadam_web
    volumes:
      - ./:/app
      - ./static:/app/static
      - ./media:/app/media
    env_file:
      - ./.env
    ports:
      - 8000:8000
    depends_on:
      - redis
      - mq

  redis:
    image: redis:7
    container_name: qadam_redis
    restart: always

  mq:
    image: rabbitmq:3-management
    container_name: qadam_mq
    restart: always
    env_file:
      - ./.env
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}

  nginx:
    image: nginx:latest
    container_name: qadam_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./static:/app/static
      - ./media:/app/media
