DB_TYPE=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_USER=guest
RABBITMQ_PASS=guest

CELERY_BROKER_URL=amqp://guest:guest@mq:5672/
CELERY_RESULT_BACKEND=redis://redis:6379/0

SECRET_KEY=

DEBUG=

ESKIZ_API_TOKEN = 
ESKIZ_API_URL = 
ESKIZ_FROM = 