DB_TYPE=postgres
DB_NAME=qadam
DB_USER=qadam
DB_PASSWORD=qadam
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=qadam
POSTGRES_USER=qadam
POSTGRES_PASSWORD=qadam

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

RABBITMQ_USER=guest
RABBITMQ_PASS=guest

CELERY_BROKER_URL=amqp://guest:guest@mq:5672/
CELERY_RESULT_BACKEND=redis://redis:6379/0

SECRET_KEY=

DEBUG=

ESKIZ_API_TOKEN = 
ESKIZ_API_URL = 
ESKIZ_FROM = 
